<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= text%> </p>


<% posts.forEach(function(post){ %>
    <h1> <%= post.title%> </h1>
    <p><%= post.body.substring(0,100) + " ..."  %> 
        <a href="/posts/<%= post.title %>">Read More</a>
    </p>
    
<% }); %>
<a href="/compose"><button type="button" class="btn btn-outline-primary btn-compose" style="background-color: #1abc9c; color: #fff; position: absolute; left: 320px;top: 150px;">Compose</button></a>

<%- include("partials/footer") -%>
